* {padding:0; margin:0;}
html {background-color:#ccc;}

body {
	max-width:960px; /* keeps from getting too large on wide screen */
	width:90%; /* shrink to fit screen */
	margin:auto; /* center in html element */
	background-color:rgba(255, 255, 255, 0.5);
	min-height:100%; /* keeps from getting too large on wide screen */
	border-radius: 2rem 0 2rem 0;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 
	0 4px 6px rgba(0, 0, 0, 0.15);
	}

header {
	background-color: rgba(0, 0, 0, 0.925);
	margin-top: 2rem;
	border-radius: 2rem 0 2rem 0;
}	

img.flexible {
	display: block;
	object-fit: cover;
	width: 50%;
	height: 200px;
	margin: 0 auto;
}
p {margin:10px;}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	margin:10px;
	}
h1.masthead {margin-top:0;}
footer {
	text-align:center;
	clear:both; /* ride below all items */
	}
nav{
	text-align:center; /* centers the nav */
}

nav ul {
		list-style:none; /* removes the bullets */
	}
nav ul li
	{
		display:inline-block; /* makes horizontal, but able to declare margins */
		margin:0 2%; /* margin left-right, gets smaller as necessary */
	}
nav a:hover{
	text-decoration: none;
}	